
#catalogHeader{
    color: white;
}
#rentedHeader{
    color: white;
}
.catalogMovies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-gap: 30px
}
#budget{
    display: grid;
    justify-items: end;
}
#search{
    color: white;
}