
#catalogHeader{
    color: white;
}
#rentedHeader{
    color: white;
}
.catalogMovies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 10px;
}
#budget{
    display: grid;
    justify-items: end;
}
#search{
    color: white;
}