
.movie{
    border: 1px solid #fff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
button{
    color: white;
}
.rented{

}

.notRented{

}